.Card {
    width: 100px;
    height: 120px;
    border: 1px solid black;
    border-radius: 9px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.47);
    font-size: 28px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    background-color: white;
    
    h1 {
        margin:10px 0;
    }
}