.board{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    background-color: yellow;
    height: 250px;
}

.descarte {
    height: 250px;
    width: 200px;
    background-color: red;
}